{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "semi": ["error", "never"],
    "react/prop-types": 0
  }
}
